{{outlet}}

{{x-dropzone url='/api/uploadFile' autoProcessQueue=false  dictDefaultMessage="<b>drop here.</b><br></br><button type='button' id='SelectFile'>Choose File</button>" addRemoveLinks=true vupd="uponUpload" submitBtn=submitBtn}}
<br/>
<button type="submit" id={{submitBtn}}>Submit all files</button>
<br/>
<br/>
<br/>

Uploaded File: {{status_message}}

<br/>
<br/>
<br/>



