{{outlet}}

{{x-dropzone url='/api/uploadFile' autoProcessQueue=true  addRemoveLinks=true vupdSuccess="uponUploadSuccess" vupdError="uponUploadError" submitBtn=submitBtn filesStatusChanged='filesStatusChanged' parentController=controller}}

<br/>
<button type="submit" id={{submitBtn}}>Submit all files</button>
<br/>
<br/>
<br/>

Uploaded File: {{status_message}}

<br/>
<br/>
<br/>

<div class='grid-table'>
    <div class='table-header'>
        <div id="preview" class="dropzone dz-preview">
            <div class='row dz-preview dz-file-preview'>
                <div class='dz-image'>
                    <div class='col-md-6 col-sm-4'>
                        File Name
                    </div>
                    <div class='col-sm-2'>
                        Size
                    </div>
                    <div class='col-sm-2'>
                        Progress
                    </div>
                    <div class='col-sm-2'>
                        Actions
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="previewTemplateCustom">
    <div class='row dz-preview dz-file-preview'>
        <div class='dz-image'>
            <div class='col-md-6 col-sm-4'>
                <div class='dz-filename'><span data-dz-name></span></div>
            </div>
            <div class='col-sm-2'>
                <div class='dz-size'><span data-dz-size></span></div>
            </div>
            <div class='col-sm-2'>
                <div class='dz-progress'><span class='dz-upload' data-dz-uploadprogress></span></div>
            </div>
            <div class='col-sm-2'>
                <div class='dz-dz-remove'>
                </div>
            </div>
        </div>
    </div>
</div>
